.selector {
  position: relative;

  datalist {
    display: flex;
    z-index: 99;
    position: absolute;
    left: 0;
    flex-direction: column;
    width: 100%;
    min-width: fit-content;
    margin: 0;
    margin-top: var(--pico-outline-width);
    padding: 0;
    border: var(--pico-border-width) solid var(--pico-dropdown-border-color);
    border-radius: var(--pico-border-radius);
    background-color: var(--pico-dropdown-background-color);
    box-shadow: var(--pico-dropdown-box-shadow);
    color: var(--pico-dropdown-color);
    white-space: nowrap;
    opacity: 0;
    transition: opacity var(--pico-transition), transform 0s ease-in-out 1s;
    max-height: 280px;
    overflow: auto;
    display: none;

    &[open] {
      opacity: 1;
      display: block;
    }

    option {
      width: 100%;
      cursor: pointer;
      margin-bottom: 0;
      padding: calc(var(--pico-form-element-spacing-vertical) * 0.5) var(--pico-form-element-spacing-horizontal);
      list-style: none;

      &:first-of-type {
        margin-top: calc(var(--pico-form-element-spacing-vertical) * 0.5);
      }

      &:last-of-type {
        margin-bottom: calc(var(--pico-form-element-spacing-vertical) * 0.5);
      }

      &[aria-selected="true"] {
        background-color: var(--pico-dropdown-hover-background-color);
      }

      &[selected] {
        background-color: var(--pico-dropdown-hover-background-color);
      }
    }
  }
}
